h2 spreadsheet setup 
p Select the name of the sheet containing applicants' original responses
select#select-source.w5.pointer

p Select the name of the sheet where you want the formatted version to be
select#select-output.w5.pointer(disabled)
  
button#confirm-sheets.pointer(disabled) Confirm
