//- shown if questions sheet already exists
#has-question-sheet.dn.qu-partial
     h2 Questions sheet
     p It looks like your spreadsheet already has a questions sheet set up.
     p Make sure this sheet is set up correctly before you continue.
     p: a(href="https://github.com/emilyb7/smart-selection/docs/options.md" target="_blank") Read about setup on GitHub
     button.confirm-questions.pointer Confirm

//- shown if questions sheet doesn't exist yet
#no-question-sheet.dn.qu-partial
    h2 Questions sheet
    p It looks like your spreadsheet doesn't contain a 'questions' sheet. Click here to create one based on the default template.
    p The questions sheet defines which columns should be shown in the spreadsheet.
    p: a(href="https://github.com/emilyb7/smart-selection/docs/options.md" target="_blank") Read about setup on GitHub
    button#create-questions.pointer Create questions sheet
    
//- shown if questions sheet created dynamically
#questions-created.dn.qu-partial
    h2 Questions sheet
    p We've created a questions sheet for you
    p Go back to your spreadsheet and make sure this is correctly set up before you continue
    p: a(href="https://github.com/emilyb7/smart-selection/docs/options.md" target="_blank") Read about setup on GitHub
    button.confirm-questions-x.pointer Confirm
