//- shown if questions sheet already exists
#has-question-sheet.dn
     h2 Questions sheet
     p It looks like your spreadsheet already has a questions sheet set up.
     p Make sure this sheet is set up correctly before you continue.

//- shown if questions sheet doesn't exist yet
#no-question-sheet.dn
    h2 Questions sheet
    p It looks like your spreadsheet doesn't contain a 'questions' sheet. Click here to create one based on the default template.
    p The questions sheet defines which columns should be shown in the spreadsheet.
    button#create-questions.pointer Create questions sheet
