- const tachyons = "https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"

html
    head 
        title smart selection app 
        link(rel="stylesheet" href=tachyons)

    body
        h1 smart selection app
        p This tool is for running a script over responses to the FAC application form in order to get a better overview within a spreadsheet
        
        #section-start.h4
            include partials/start-initial
            include partials/start-confirm
            include partials/start-reset
        
        #details-section
            include partials/details
            
        #questions-section
             include partials/questions
             
        #update-section
             include partials/update
        
        script
              include js/methods.js
        script
             include js/script.js
